<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script src="./vue.js"></script>
		<link rel="stylesheet" href="./style.css" />
		<title>Techno</title>
	</head>
	<body>
		<div id="app">
			<!--HEADER-->
			<header class="header">
				<img class="logo" src="./assets/techno.svg" alt="Techno" />
				<div class="carrinho_menu" @click="carrinhoAtivo = true">{{carrinho.length}} | {{carrinhoTotal | formatCurrency}}</div>
			</header>

			<!--PRODUTOS-->
			<section class="produtos">
				<div v-for="produto in produtos" @click="retrieveProduct(produto.id)" :key="produto.id" class="produto">
					<img :src="produto.img" :alt="produto.nome" class="produto_img" />
					<div class="produto_info">
						<span class="produto_preco">{{produto.preco | formatCurrency}}</span>
						<h2 class="produto_titulo">{{produto.nome}}</h2>
					</div>
				</div>
			</section>

			<!-- MODAL -->
			<section class="modal" v-if="produto" @click="fecharModal">
				<div class="modal_container">
					<div class="modal_img"><img :src="produto.img" alt="" /></div>
					<div class="modal_dados">
						<button class="modal_fechar" @click="produto = false">X</button>
						<span class="modal_preco">{{produto.preco}}</span>
						<h2 class="modal_titulo">{{produto.nome}}</h2>
						<p>{{produto.descricao}}</p>
						<button v-if="produto.estoque" @click="adicionarItem" class="modal_btn">Adicionar Item</button>
						<button v-else class="modal_btn esgotado">Produto Esgotado</button>
						{{produto.estoque}}
					</div>
					<div class="avaliacoes">
						<h2 class="avaliacoes_subtitulo">Avaliações</h2>
						<ul>
							<li class="avaliacao" v-for="avaliacao in produto.reviews">
								<p class="avaliacao_descricao">{{avaliacao.descricao}}</p>
								<p class="avaliacao_usuario">{{avaliacao.nome}} | {{avaliacao.estrelas}} estrelas</p>
							</li>
						</ul>
					</div>
				</div>
			</section>

      <!--CARRINHO MODAL-->
      <section class="carrinho_modal" :class="{ativo: carrinhoAtivo}" @click="clickForaCarrinho">
        <div class="carrinho_container">
          <button class="carrinho_fechar" @click="carrinhoAtivo = false">X</button>
          <h2 class="carrinho_titulo">Carrinho</h2>
          <div v-if="carrinho.length > 0">
            <ul class="carrinho_lista">
              <li v-for="(item, index) in carrinhoEditado" class="carrinho_item">
                <p>{{item.nome}}</strong></p>
                <p class="carrinho_preco"> <strong>{{item.qtd}}x</strong> - {{item.preco | formatCurrency}}</p>
                <button class="carrinho_remover" @click="removerItem(index)">X</button>
              </li>
            </ul>
            <p class="carrinho_total">{{carrinhoTotal | formatCurrency}}</p>
            <button class="carrinho_finalizar">Finalizar Compra</button>
          </div>
          <p v-else>O carrinho está vazio.</p>
        </div>
      </section>

			<!--ALERTA-->
			<div class="alerta" :class="{ativo: alertaAtivo}">
				<p class="alerta_mensagem">{{mensagemAlerta}}</p>
			</div>

		</div>
		<script src="./script.js"></script>
	</body>
</html>
